html,
#app {
  height: 100%;
}
body,
.wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}
.wrapper {
  display: table;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
}
.header {
  position: absolute;
  left: 10%;
  top: 1em;
  z-index: 5;
}
.header .logo {
  margin: 0;
}
.logo {
  display: inline-block;
  margin-left: 10%;
  color: #ec5569;
}
.search-form,
.movie-wrapper {
  padding: 6em 0 3em 10%;
  text-transform: uppercase;
  font: 1em sans-serif;
  color: #fff;
  background-image: url(https://i.amz.mshcdn.com/LWRrA7B2yTQxFTlc_4eb1Mao2DM=/1200x630/2017%2F05%2F16%2F8d%2Fa90b60e1a7b645f5b90067584ab381d3.e786a.jpg);
  background-size: 100%;
}
.search-form .search-form__label,
.movie-wrapper .search-form__label {
  display: block;
  margin-bottom: 1em;
}
.search-form .search-form__field,
.movie-wrapper .search-form__field {
  display: block;
  width: 89.3%;
  height: 3em;
  margin-bottom: 1em;
  padding-left: 1em;
  border: none;
  border-bottom: 1px solid #ec5569;
  background: #000;
  color: #fff;
}
.search-form .search-form__by,
.movie-wrapper .search-form__by {
  display: inline-block;
  font: 0.7em sans-serif;
}
.search-form .search-form__submit,
.movie-wrapper .search-form__submit {
  display: inline-block;
  float: right;
  width: 10%;
  height: 2em;
  margin-right: 10%;
  border: none;
  text-transform: uppercase;
  font: 1em sans-serif;
  background: #ec5569;
  color: #fff;
}
.movie-wrapper {
  display: flex;
  position: relative;
  padding: 6em 10%;
  text-transform: none;
}
.movie-wrapper .back-button {
  position: absolute;
  right: 10%;
  top: 1em;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  color: #ec5569;
  padding: 0.7em 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.movie-wrapper .movie-picture {
  height: 30em;
}
.movie-wrapper .info-wrapper {
  margin-left: 3em;
  color: rgba(255, 255, 255, 0.78);
  font-size: 1.3em;
  line-height: 1.3;
}
.movie-wrapper .info-wrapper .movie-title {
  display: inline-block;
  margin: 0 1em 0.2em 0;
  font-size: 2em;
  color: #ec5569;
}
.movie-wrapper .info-wrapper .movie-rating {
  display: inline-block;
  font-size: 1.2em;
  padding: 0.5em;
  border: 2px solid #9ae88b;
  border-radius: 100%;
  color: #9ae88b;
}
.movie-wrapper .info-wrapper .movie-category {
  display: block;
  margin-bottom: 1em;
}
.movie-wrapper .info-wrapper .movie-year {
  margin-right: 3em;
  font-weight: 600;
  color: #fff;
}
.movie-wrapper .info-wrapper .movie-duration {
  font-weight: 600;
  color: #fff;
}
.movie-wrapper .info-wrapper .movie-director {
  display: block;
  font-size: 0.8em;
}
.movie-wrapper .info-wrapper .movie-cast {
  display: block;
  font-size: 0.8em;
}
.no-films-warning {
  display: inline-block;
  margin: 0 10%;
  font-size: 5em;
  color: #f1ecec;
}
.main {
  flex: 1 0 auto;
  height: auto;
}
.subheader {
  display: flex;
  align-items: center;
  height: 3em;
  padding: 0 10%;
  margin: 0 0 3em;
  background-color: #f1ecec;
}
.counter {
  flex: 1;
}
.content {
  width: 75%;
  margin: 0 auto;
}
.movies-list {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  list-style: none;
}
.movie {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.movie .movie__img {
  width: 25em;
  height: 35em;
}
.movie .movie__description {
  width: 25em;
  padding-top: 1em;
}
.movie .movie__description .description__title {
  font-size: 1.5em;
  text-transform: uppercase;
}
.movie .movie__description .description__year {
  padding: 0.2em;
  float: right;
  border: 1px solid #000;
  border-radius: 4px;
}
.movie .movie__description .description__category {
  display: block;
}
.footer {
  flex: none;
  height: 3em;
  background: rgba(0, 0, 0, 0.8);
  vertical-align: middle;
  align-items: center;
}
.footer .logo {
  margin-top: 1em;
}

/*# sourceMappingURL=styles.js.map*/