@myRed : rgb(236, 85, 105);

.header{
    position: absolute;
    color: @myRed;
}

.main{
    background-color: rgba(0, 0, 0, 0.8);
    background-image: 'https://i.amz.mshcdn.com/LWRrA7B2yTQxFTlc_4eb1Mao2DM=/1200x630/2017%2F05%2F16%2F8d%2Fa90b60e1a7b645f5b90067584ab381d3.e786a.jpg';

}